.card {
  padding: 2em;
  background-color: #444;
}

.newLabel {
  color: #fff;
}

.error {
  border-color: red;
}

.viewHeader {
  display: flex;
  flex-direction: row;
  background-color: #eee;
}

.viewHeader h3 {
  width: 50%;
}

.viewHeader label {
  padding-top: 10px;
}
